*{
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
header{
    display: flex;
    background-image: linear-gradient(180deg,rgb(52, 116, 189), rgb(197, 222, 243));
    height: 100px;
    padding: 1% 2%;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: rgb(197, 222, 243);
}
h1{
    
    text-align: center;
    color: white;
    font-size: 8em;
    text-shadow: 6px 10px 5px rgb(45, 79, 129);
   
}
main{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header_button{
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
    font-size: 1em;
}

.button_principal{
    padding:5px;
    border-radius: 5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    margin-top: 10px;
    width: 150%;
    font-size: 1em;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 10%;
    font-size: 1em;

}

#avatar{
    border-radius: 10%;
    width: 50%;
}

#cerrar{
    padding:3px;
    border-radius: 5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    margin-top: 7px;
    font-size: 1em;
}
input{
    background-image: url(../img/descarga.png);
    background-repeat: no-repeat;
    background-size: 1.2%;
    width: 85%;
    padding:4px;
    padding-left:2%;
    border-radius:5px;
    border: 1px  gray solid;
    background-position-y: center;
    background-position-x: 0.5%;
    font-size: 1em;
    
}

#button_nav{
    padding:3px;
    border-radius: 5px;
    width: 5%; 
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size: 1em;
}
#nombre:hover{
    color: darkblue;
}
nav{
    margin-top:1%;
    margin-left:3%;
}

#nombre{
    margin-top:5px;
    font-size: 1.25em;
    margin-bottom: 3px;
    font-weight: bold;
    color:black;
    text-decoration: none;
}