*{
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
header{
    display: flex;
    background-image: linear-gradient(180deg,rgb(52, 116, 189), rgb(197, 222, 243));
    height: 100px;
    padding: 1% 2%;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: rgb(197, 222, 243);
}
h1{
    
    text-align: center;
    color: white;
    font-size: 8em;
    text-shadow: 6px 10px 5px rgb(45, 79, 129);
   
}
main{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width:700px;
}
.header_button{
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
  
}

.button_principal{
    padding:5px;
    border-radius: 5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size:1em;
    margin-top: 10px;
    width: 150%;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 10%;

}
.form_like{
    width: 5%;
    margin-left:10px;
    
}

.like_b{
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
}
#num_preguntas{
    font-size:1.5em;
}
#avatar{
    border-radius: 10%;
    width: 50%;
}

#cerrar{
    padding:3px;
    border-radius: 5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size:1em;
    margin-top: 7px;
}
#buscar{
    background-image: url(../img/descarga.png);
    background-repeat: no-repeat;
    background-size: 1.2%;
    padding-left:2%;
    font-size: 1em;
}

textarea{
    width: 100%;
    height: 150px;
    padding:3px;
    border-radius:5px;
    border: 1px  gray solid;
    background-position-y: center;
    background-position-x: 0.5%;
    margin-bottom: 10px;
}

#preguntas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pregunta{
    width: 75%;
}

.pregunta_formulada{
  padding:2%;
}

.pregunta_user{
    padding:2%;
    text-decoration: none;
    color: black;
}
.pregunta_user:hover{
    color: darkblue;
}
.info_usuario{
    text-align: center;
    margin-right: auto;
    margin-left:79%;
    width: 25%;
}

img{
    width: 30%;
}

input{
    width: 85%;
    padding:3px;
    border-radius:5px;
    border: 1px  gray solid;
    background-position-y: center;
    background-position-x: 0.5%;
    margin-bottom: 15px;
    font-size:1em;
}

#button_nav{
    padding:3px;
    border-radius: 5px;
    width: 5%; 
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size:1em;
}

nav{
    margin-top:1%;
    margin-left:3%;
}
.boton{
    margin-left: 250px;
    margin-right: auto;
    width:200px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size:1em;
    margin-bottom: 40px;
}

.contenido_pregunta{
  color:black;
  font-size: 1em;
  padding:1%;
  padding-bottom: 2%;
  margin-left:4%;
  margin-bottom: 0.5%;
  
}

.pregunta_start{
    color:orangered;
    font-size: 1.2em;
    padding:1%;
    margin-left:4%;
}

.titulo_principal{
    margin-top:30px;
    font-size:1.5em;
    margin-bottom:20px;
}

.visitas{
    padding:5px;
    background-color: rgb(231, 186, 194);
    margin-bottom:10px;
    border-radius: 5px;
    font-size:1em;
}

.votos{
    display:flex;
    padding:5px;
    background-color: rgb(34, 177, 158);
    margin-bottom:20px;
    border-radius: 5px;
    font-size:1em;
}

#contenido_pregunta{
    margin-bottom:10px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100ch;
    word-wrap: break-word;
    
    white-space: initial;

}

.tag{
    margin-top:10px;
   margin-bottom: 10px;
   margin-left:5px;
}

#numero_respuestas{
    font-size: 1.5em;
    margin-bottom:30px;
}
    
#respuesta{
    font-size: 1.5em;
    margin-bottom:20px;
}
#respuestas_totales{
    margin-left: 30px;
}

.respuesta_usuario{
    margin-bottom: 10px;
}

.info_usuario_respuesta{
    margin-right: 5%;
    margin-left:80%;
    width: 20%;
}

.img_like{
      /* margin-right: 10px; */
      border-radius: 50%;
      width: 80%;
      height: 80%;
      /* border: 1px solid blue; */
      cursor: pointer;
  }
}

.numero_votos{
    margin-right: 10px;
}



.pregunta_start{
    color:rgb(43, 2, 121);
    font-size: 1.2em;
    padding:1%;
    margin-left:4%;
    font-size: 1.4em;

}

.tagButton{
    padding:3px;
    text-decoration: none;
    border: 1px solid rgb(43, 2, 121);
    color:white;
    background-color: rgb(0, 4, 253);
    font-size: 1em;
    margin-right:10px;
}

.tag{
    margin-top:15px;
    display:flex;
    margin-bottom: 10px;
}

#nombre{
    margin-top:5px;
    font-size: 1.25em;
    margin-bottom: 3px;
    font-weight: bold;
    color:black;
    text-decoration: none;
}
#nombre:hover{
    color: darkblue;
}
.border_principal{
    border:1px solid rgb(34, 177, 158);
    border-radius: 5px;
    padding:10px;
    margin-bottom: 20px;
    background-color: rgb(233, 232, 230);
    
}
