*{
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
header{
    
    background-image: linear-gradient(180deg,rgb(52, 116, 189), rgb(197, 222, 243));
    height: 125px;
    padding: 1% 2%;
    top: 0;
   
    align-items: center;
}
body{
    background-color: rgb(197, 222, 243);
    
}
h1{
    
    text-align: center;
    color: white;
    font-size: 8em;
    text-shadow: 6px 10px 5px rgb(45, 79, 129);
   
}
main{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width:700px;
}


label{
    margin-bottom: 2%;
}
input{
    border-radius: 5px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2px;
    background-color: white;
}
.boton{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size:1em;
   
}
form{
    margin-top: 4%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width:300px;
   
}
#imagen{
    background-color: rgb(197, 222, 243);
    width: 120%;
}
h3{
    color:red;
    text-align: center;
}