*{
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

 
header{
    display: flex;
    background-image: linear-gradient(180deg,rgb(52, 116, 189), rgb(197, 222, 243));
    height: 100px;
    padding: 1% 2%;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: rgb(197, 222, 243);
}
h1{
    
    text-align: center;
    color: white;
    font-size: 8em;
    text-shadow: 6px 10px 5px rgb(45, 79, 129);
   
}
main{
   
    width: 100%;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
#buscar{
    background-image: url(../../img/descarga.png);
    background-repeat: no-repeat;
    background-size: 1.2%;
    padding-left:2%;
}

.header_button{
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
  
}
.button_principal{
    padding:5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size: 1em;
    margin-top: 10px;
    width: 150%;
}
.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 10%;

}
#avatar{
    border-radius: 10%;
    width: 50%;
}
#cerrar{
    padding:3px;
    border-radius: 5px;
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size: 1em;
    margin-top: 7px;
}

#buscar{
    background-image: url(../img/descarga.png);
    background-repeat: no-repeat;
    padding:4px;
    font-size: 1em;
    background-size: 1.2%;
    padding-left:2%;
    width: 85%;
    border-radius:5px;
    border: 1px  gray solid;
    background-position-y: center;
    background-position-x: 0.5%;
    margin-bottom: 15px;
}
.tagButton{
    padding:3px;
    text-decoration: none;
    border: 1px solid rgb(43, 2, 121);
    color:white;
    background-color: rgb(0, 4, 253);
    font-size: 1em;
    margin-right:10px;
}
#button_nav{
    padding:3px;
    border-radius: 5px;
    width: 5%; 
    background-color: rgb(52, 116, 189);
    box-shadow: 4px 4px 4px rgb(37, 37, 37);
    color: white;
    font-size: 1em;
}
#titulo{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.perfilUsuario{

    color:black;
    text-decoration: none;
}
.perfilUsuario:hover{
    color: darkblue;
}
#nombre{
    margin-top:5px;
    font-size: 1.25em;
    margin-bottom: 3px;
    font-weight: bold;
    color:black;
    text-decoration: none;
}
#nombre:hover{
    color: darkblue;
}
nav{
    margin-top:1%;
    margin-left:3%;
}
img{
    width: 25%;
}


.centro{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    align-content: center;
}
.centro h2{
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}


#filtrar_user{
    margin-left: 100px;
    background-image: url(../img/descarga.png);
    background-repeat: no-repeat;
    padding:4px;
    font-size: 1em;
    background-size: 5%;
    padding-left:2%;
    width: 20%;
    border-radius:5px;
    border: 1px  gray solid;
    background-position-y: center;
    background-position-x: 0.5%;
    margin-bottom: 30px;
}

.container{

    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-right: auto;
    width:75% ;
    margin-left: auto;
    height: 400px;
    
}
.cajas{
    float: left;
    width: 160px;
    height:160px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px  rgba(9, 3, 68, 0.5) solid;
    padding-bottom: 10px;
    background-color: rgb(211, 226, 238);
}
.avatar{
    border-radius: 10%;
    width: 50%;

}
#foto_usuarios{
    width: 70px;
    height: 70px;
}
img{
    margin-top: 5px;

}
.tag{
    margin-top:10px;
   margin-bottom: 20px;
   border-bottom: 10px;
}
