*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/tasks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

header{
    position: fixed;
    display: flex;
    background-color: rgb(194, 166, 166);
    width: 100%;
    height: 100px;
    padding: 1% 2%;
    flex-grow: 1;
    justify-content: space-around;
    top: 0;
}
header h1{
    color: white;
    font-size: 5em;
    width: 75%;
    text-shadow: 6px 10px 5px black;
}

header h1:hover{
    text-shadow: 0 0 10px white;
}
.input_form{
    border-radius: 5px;
}

.container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* margin: 180px 20% 0 33%; */
    color: black;
    background-color: cadetblue;
    align-content: center;
    align-items: center;
    /* height: auto; */
    width: 30%;
    padding: 2%;
    /* margin-top: auto; */
    margin-left: auto;
    margin-top: 20%;
    margin-right: auto;
    border: 2px solid black;
}
.items{
    margin-bottom: 5%;
}
#boton{
    margin-left: 45%;
    padding: 5px;
}
#error{
    color: red;
    text-align: center;
}