*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/tasks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 

.tasks-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgb(160, 13, 23);
    width: 50%;
    min-width: 374px;
    margin: 1%;
    padding: 1%;
    font-family: "Cabin", sans-serif;
    color: white;
    border-radius: 7px;
    align-items: center;
  }
  
  .task_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div.task h2 {
    max-width: 80%;
    display: flex; 
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: rgb(230, 69, 80);
    border: 1px solid white;
    border-radius: 6px;
    font-size: 0.6em;
    align-items: center;
    padding: 3px;
    margin: auto 0;
    margin-left: 5px;
  }
  
  #done {
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .done-task-button,
  #add-task-button {
    border-radius: 6px;
    border: 2px solid #adadad;
    background-color: #e6e6e6;
    color: #333;
    padding: 0.7%;
    min-width: 150px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    cursor: pointer;
    font-family: "Cabin", sans-serif;
    text-align: center;
  }
  
  .done-task-button:hover,
  #add-task-button:hover {
    background-color: lightgray;
  }
  
  .form-div {
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: space-between;
    background-color: lightslategray;
    width: 50%;
    overflow: hidden;
    min-width: 374px;
    border-radius: 6px;
    margin: 1%;
    padding: 1%;
    font-family: "Cabin", sans-serif;
  }
  
  #newtask {
    height: 30px;
    font-family: "Cabin", sans-serif;
    font-size: 25px;
    border-radius: 6px;
  }
  
  #remove-task-btn {
    padding: 1% 2%;
    font-weight: bold;
    color: rgb(73, 73, 73);
    font-size: 1.3em;
    background-color: whitesmoke;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Cabin", sans-serif;
    border: 2px solid grey;
    text-align: center;
  }
  
  #remove-task-btn:hover {
    background-color: #b9b5b5;
  }
  
  .container{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 175px;
    align-items: center;
    background-color: rgb(160, 13, 23);
    border-radius: 15px;
    width: 50%;
  }
  
  .login-form{
    display:flex;
    flex-direction: column;
    width: 50%;
  }
  
  .form-input{
    margin-top: 1%;
    border-radius: 15px;
    height: 30px;
    font-size: 1.1em;
    overflow: hidden;
    padding: 0 1.5%;
  }
  
  #form-submit {
    width: 40%;
    border-radius: 15px;
    margin: 2% auto;
    font-size: 1.3em;
  }
  
  #error-message{
    text-align: center;
    color:red;
    margin-top: 4%;
    font-family: "Cabin", sans-serif;
  }
  
  #preview {
    min-width: 96%;
  }
  
  input[type="text"] {
    height: 30px;
    border-radius: 15px;
    font-size: 1.2em;
    padding-left: 0.3%;
  }
  
  form.form-div > label {
    font-size: 1.2em;
  } 
  
  #addTag {
    padding: 0.6%;
    border-radius: 5px;
    font-family: "Cabin", sans-serif;
  }
  
  #addTag:hover {
    background-color: #bebcbc;
    cursor: pointer;
  }
  
  #preview .tag:hover {
    cursor: pointer;
  }
header{
    position: fixed;
    display: flex;
    background-color: rgb(194, 166, 166);
    width: 100%;
    height: 100px;
    padding: 1% 2%;
    flex-grow: 1;
    justify-content: space-around;
    top: 0;
}
header h1{
    color: white;
    font-size: 5em;
    width: 75%;
    text-shadow: 6px 10px 5px black;
}

header h1:hover{
    text-shadow: 0 0 10px white;
}
.usuario{
    display: flex;
    float: right;
    width: 20%;
}
.usuario img{
    border-radius: 100%;
    width: 30%;
    height: auto;
}
.informacion-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 20px;
}

.informacion-usuario a{
    text-decoration: none;
    margin-top: 1%;
}

.informacion-usuario a:hover{
    color: white;
    cursor: pointer;
}


#desconectar{
    color:black;
    margin-top:20%;
}

#desconectar:hover{
    color:blue;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 180px 20% 0 20%;
    color:white;
}
.tarea_finalizada{
    background-color:#6ec0bb;
    border: 2px solid	#6d8081;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;  
}
.tareas{
    background-color:#6ec0bb;
    border: 2px solid	#6d8081;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.tag {
    padding: 3px;
    color:white;
    background-color: #48706d;
    border: 2px solid white;
    border-radius: 15%;
    margin-left: 3%;
}

.boton_tarea {
    background-color: #e25129;
    color:white;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    float: right;
    display: flex;
    font-size: 14px;
    margin-inline-start:auto;
}
.boton_tarea:hover{
    color: white;
    background-color: firebrick;
}
.anadirTarea {
    background-color: #66a5a4;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    float: right;
    display: flex;
    font-size: 14px;
    margin-inline-start: 0px;
    
}
h3{
    display: inline-block;
}
#tarea2 {
    opacity: 0.5;
}
.finalizarTarea {
    text-decoration: line-through;
    color: rgb(33, 28, 28);
    margin-left: 25px;
}

.buscar {
    background-color:#2f4f4e;
    text-align: center;
    border: 2px solid #72a69e;
    margin: 20px 0;
    padding: 10px;
}

input {
    border: 2px solid #72a69e;
    padding: 5px;
    padding-bottom: 10px;
    padding-top:10px;
    width: 80%;
    margin-right:50px;
}


.boton_anadir {
    color:white;
    background-color:#72a69e;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.boton_anadir:hover{
    color:blue;
    background-color: white;
}

.eliminarCompletadas {
    margin: 0 auto;

}


#eliminar {
    background-color:#293133;
    border: 2px solid #FFFFFF;
    color:white;
    cursor: pointer;
    padding-left:30px;
    padding-right:30px; 
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

#eliminar:hover{
    color:rgb(13, 13, 191);
    background-color: rgb(242, 12, 12);
 
}