<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>INICIO</title>
    </head>
    <body>
        <ul>
            <li><a href="/secreto">Secreto</a></li>
            <li><a href="/otro_secreto">Otro secreto</a></li>
            <li><a href="/publico">Público</a></li>
        </ul>
        
    </body>
</html>