<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
        <form method="POST"action="/login">
            <div>
                <label for="formNombre">Nombre:</label>
                <input type = "text" name="nombre" id="nombre">
            </div>
            <div>
                <label for="formPass">Contraseña:</label>
                <input type = "password" name="password" id="password">
            </div>
            <div>
                <input type="submit"value="Enviar">
            </div>
        </form>
    
</body>
</html>