
* {
   /* margin:0;
    padding: 0;*/
    border: 1px solid red;
}
html{
    background-color: mediumslateblue;
}
body{
    padding: 20px;
    background-color: magenta;
}
p {
   /* margin: 12px;*/
    padding: 5px;
    background-color: #F0F0FF;
}
p.flotante_izq {
    float: left;
    width: 40%;
    background-color: #FFA000;
}
p.flotante_dch {
    float: right;
    width: 20%;
    background-color: #FFA000;
}
