form{
    display: grid;
    width: 30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

form > div{
    padding: 8px;
}