*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    display: flex;
    background-color: lightslategrey;
    width: 100%;
    height: 100px;
    padding: 1% 2%;
    flex-grow: 1;
    justify-content: space-around;
    top: 0;
}
header h1{
    color: white;
    font-size: 5em;
    width: 75%;
    text-shadow: 6px 5px 5px black;
}

.usuario{
    display: flex;
    float: right;
}

.informacion-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 20px;
}

.informacion-usuario a{
    text-decoration: none;
    margin-top: 1%;
}

.informacion-usuario a:hover{
    color: white;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 150px 20% 0 20%;
}
.tareas{
    background-color: rgb(38, 163, 126);
    border: 2px solid rgb(14, 15, 85);
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.tag {
    padding: 3px;
    color:white;
    background-color:rgb(10, 61, 48);
    border: 2px solid white;
    border-radius: 15%;
    margin-left: 3%;
}

.boton_tarea {
    border: 2px solid black;
    background-color: #293133;
    color:white;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    float: right;
    display: flex;
    font-size: 14px;
    margin-inline-start:auto;
}
.anadirTarea {
    border: 2px solid black;
    background-color: #07191d;
    color: white;
    cursor: pointer;
    text-align: center;
    float: right;
    display: flex;
    font-size: 14px;
    margin-inline-start: 0px;
    
}
h3{
    display: inline-block;
}
#tarea2 {
    opacity: 0.5;
}
.finalizarTarea {
    text-decoration: line-through;
}

.cajaGrande{
    background-color:rgb(13, 49, 70);
    margin-top:15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-right:15px;
    padding-left:5px;
    padding-bottom:5px;
}
.anadir{
    background-color: rgb(38, 163, 126);
    border: 2px solid rgb(14, 15, 85);
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

input{
    
    width: 70%;
}