<!DOCTYPE html>
<html>
    <head>
        <title>Error en el servidor</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>500 - INTERNAL SERVER ERROR</h1>
        <p>Se ha producido el siguiente error: <%= mensaje %></p>
        <p>Pila de ejecucion:</p>
        <pre><%= pila %></pre>
    </body>
</html>