*{
    margin:0;
    padding: 0;
}


h1{
    color: gray;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

th{
    background-color:gray;
    text-align: center;
    color:white;
    border:2px solid black;
}

td{
    width:200px;
    background-color: yellow;
    text-align: center;
    border:2px solid black;
}

.usuarios{
    display:flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}