*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    
}

.container{
    position: absolute;
  top:30%;
  left: 30%;
    display: grid;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
   background-color: gray;
   font-size: 30px;
   width: 300px;
   grid-column-gap: 2px;
   grid-row-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  

}

#cero{
    background-color: white;
    color: gray;
    grid-column:  1/ 5;
    grid-row: 1 / 2;
    text-align: center;
    border: solid gray 1px;
}
#C{
    background-color: deepskyblue;
    color: white;
    grid-column: 1 / 3;
    grid-row: 2/ 3;
    text-align: center;
    border: solid gray 1px;
}
#igual{
    background-color:deepskyblue;
    color: white;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    text-align: center;
    border: solid gray 1px;
   
}
#num7{
    background-color: hotpink;
    color: white;
    grid-column: 1;
    grid-row: 3 / 4;
    text-align: center;
    border: solid gray 1px;
   
}
#num8{
    background-color: hotpink;
    color: white;
    grid-column: 2;
    grid-row: 3 / 4;
    text-align: center;
    border: solid gray 1px;
   
}
#num9{
    background-color: hotpink;
    color: white;
    grid-column: 3;
    grid-row: 3 / 4;
    text-align: center;
    border: solid gray 1px;
   
}
#mas{
    background-color:  limegreen;
    color: white;
    grid-column: 4;
    grid-row: 3 / 4;
    text-align: center;
    border: solid gray 1px;
   
}


#num4{
    background-color: hotpink;
    color: white;
    grid-column: 1;
    grid-row: 4 / 5;
    text-align: center;
    border: solid gray 1px;
   
}
#num5{
    background-color:hotpink;
    color: white;
    grid-column: 2;
    grid-row: 4 / 5;
    text-align: center;
    border: solid gray 1px;
   
}
#num6{
    background-color: hotpink;
    color: white;
    grid-column: 3;
    grid-row: 4 / 5;
    text-align: center;
    border: solid gray 1px;
   
}
#menos{
    background-color:  limegreen;
    color: white;
    grid-column: 4;
    grid-row: 4 / 5;
    text-align: center;
    border: solid gray 1px;
   
}



#num1{
    background-color:hotpink;
    color: white;
    grid-column: 1;
    grid-row: 5 / 6;
    text-align: center;
    border: solid gray 1px;
   
}
#num2{
    background-color: hotpink;
    color: white;
    grid-column: 2;
    grid-row: 5 / 6;
    text-align: center;
    border: solid gray 1px;
   
}
#num3{
    background-color:hotpink;
    color: white;
    grid-column: 3;
    grid-row: 5 / 6;
    text-align: center;
    border: solid gray 1px;
   
}
#entre{
    background-color: limegreen;
    color: white;
    grid-column: 4;
    grid-row: 5 / 6;
    text-align: center;
    border: solid gray 1px;
   
}

#num0{
    background-color:hotpink;
    color: white;
    grid-column: 1 /4;
    grid-row: 6 / 7;
    text-align: center;
    border: solid gray 1px;
   
}
#por{
    background-color: limegreen;
    color: white;
    grid-column: 4 /6;
    grid-row: 6 / 7;
    text-align: center;
    border: solid gray 1px;
   
}