<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="/css/404.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <h2>¡Oops! HAY UN ERROR.</h2>
            <h1>500</h1>
            <p>Lo sentimos, ha habido un problema en nuestra aplicación, nuestros informáticos lo arreglarán lo antes posible.</p>
            <a href="/usuarios/home">Vuelve a casa</a>
        </div>
    </body>
</html>