<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheet/css/filter_question_tag.css" rel="stylesheet" type="text/css">
    <title>404</title>
</head>
<body>
    <header>
       <div class="header_button"> 
           <button type="button" class="button_principal">Preguntas</button>
           <button type="button" class="button_principal">Sin responder</button>
           <button type="button" class="button_principal">Usuarios</button>
       </div> 
       <div><h1>404</h1></div>
       <div class="information">
        <img id="avatar" src="../images/user.png" alt="imagen usuario">
        <p >Alfonso001</p>
        <button id="cerrar" type="button">Cerrar sesión</button>
        
    </div>
    </header>
    <nav>
        <button type="button" id="button_nav">Buscar</button> 
        <input id="buscar" type="search" placeholder="Buscar pot titulo/cuerpo de preguntas">
    </nav>
    <main>
        <p id="titulo">Preguntas con la etiqueta [ETIQUETA]</p>
        <!--La pregunta y boton-->
        <div id ="preguntas">
            <p>2 preguntas</p>
            <button type="button" class="boton">Formular una pregunta</button>
        </div>
        <!--las preguntas-->
        <div id ="contenido">
            <!--la pregunta-->

            <div class="preguntas_filtro_tag">
                <div class="pregunta">           
                    <p class="pregunta_start">¿Cual es la diferencia entre position: relative, position : absolute y position : fixed ?</p> 
                    <p class="contenido_pregunta">Sé que estas propiedades de CSS sirven para posicionar un elemento dentro de la página sin 
                        embargo ,¿cuando debería usar cada una de ellas?
                    </p>
                    <div class="tag">
                    <a href="">css</a>
                    <a href="">css3</a>
                    </div>
                </div>
                <div class="info_usuario">
                    <p class="pregunta_formulada">Formulada el 5/11/2020</p>
                    <img src="../images/user.png" alt="Foto usuario">
                    <p class="pregunta_user">Nico</p>
                </div>
            </div>


          <div class="preguntas_filtro_tag">
                <div class="pregunta">
                    <p class="pregunta_start">¿Cómo funciona exactamente nth-child?</p>
                    <p class="contenido_pregunta" >" No acabo de comprender muy bien que hace exactamente y que casos practicos puede tener...</p>
                    <div class="tag">
                        <a href="">css</a>
                        <a href="">html</a>
                    </div>
                </div>
                <div class="info_usuario">
                    <p class="pregunta_formulada">Formulada el 5/11/2020</p>
                    <img src="../images/user.png" alt="Foto usuario">
                    <p class="pregunta_user">Roberto</p>
                </div>
            </div>
        </div>
    </main>

</body>
</html>