<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/form_question.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" type="image/gif" href="img/favi.PNG">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>404</title>
</head>
<body>
    <header>
        <div class="header_button"> 
            <form action="/questions" method="GET">
                 <button type="submit" class="button_principal">Preguntas</button>
             </form>
            <form action ="/sinRespuesta" method="GET">
                 <button type="submit" class="button_principal">Sin responder</button>
             </form>
           <form action="/usuarios" method="GET">
                 <button type="submit" class="button_principal">Usuarios</button>
           </form>
            
        </div> 
        <div><h1>404</h1></div>
        <div class="information" >
         <img id="avatar" src="/imagenUsuario" alt="image"/>
         <p id="nombre" ><%= usuario.nombre %></p>
         <form action="/logout" method="GET">
             <button id="cerrar" type="submit">Cerrar sesión</button>
         </form>
         
     </div>
     </header>
    <nav>
        <button type="button" id="button_nav">Buscar</button> 
        <input id="buscar" type="search" placeholder="Buscar por titulo/cuerpo de preguntas">
    </nav>
    <main>
        <p id="titulo">Formular una pregunta</p>
        <form action="/formQuestion" method="POST">
        <div id="contenido">
            <p class="elementoBase">Titulo</p>
            <p class="elementoSec">Se especifica e imagina que estás haciendo la pregunta a otra persona</p>
            <input type="text" placeholder="¿Cual es la pregunta sobre programación de aplicaciones web?" name="pregunta" required>
            <p class="elementoBase">Cuerpo</p>
            <p class="elementoSec" >Incluye toda la informacion que alguien necesitaria para responder tu pregunta</p>
            <textarea name="texto" required></textarea>
            <p class="elementoBase">Etiquetas</p>
            <p class="elementoSec">Añade hasta 5 etiquetas para describir sobre qué trata tus preguntas</p>
            <input type="text" name="etiquetas" placeholder="Por ejemplo: @AW@Express">
        </div>
        <button type="submit" class="boton">Publica tu pregunta</button> 
       
        </form>
    </main>

</body>
</html>