<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../stylesheet/css/login.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
    <header>
        <div><h1>404</h1></div>
    </header>
    <main>
        <form>

                    <label>Correo *</label>

                    <input type="email" name="correo">

                    <label>Contraseña *</label>

                    <input type="password" name ="password">

                    <button type="button" class="boton">Iniciar Sesión</button>

                    <button type="button" class="boton">Crear cuenta</button>


        </form>
    </main>

</body>
</html>