<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/gif" href="img/favi.PNG">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <header>
        <h1>404</h1>
        
    </header>
    <main>
        <form action="/register" method="POST" enctype="multipart/form-data">

                    <label>Correo *</label>

                    <input type="email" name="correo" required>

                    <label>Contraseña *</label>

                    <input type="password" name ="password" minlength="8"  required>

                    <label>Confirmar contraseña *</label>

                    <input type="password" name ="password2" minlength="8"  required>

                    <label>Nombre para mostrar *</label required>

                    <input type="text" name ="nombre">

                    <label>Imagen de perfil</label>

                    <input type="file" id="imagen" name="imagen">

                    <button type="submit" class="boton">Crear cuenta</button>
                    <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesion</a></p>
                    


        </form>
        <h3><%= errorMsg%></h3>
    </main>

</body>
</html>