*{
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
header{
    background: radial-gradient(circle, rgb(239, 243, 0) 0%, rgb(255, 170, 13) 91%);
    height: 100px;
    padding: 1% 2%;
    top: 0;
}
body{
    background-color: rgb(255, 251, 139);
}
header h1{
    text-align: center;
    color: white;
    font-size: 5em;
    text-shadow: 6px 10px 5px black;
}
main{
   
    width: 100%;
}

label{
    margin-bottom: 2%;
}
input{
    border-radius: 5px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2px;
}
.boton{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: orange;
    color: white;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
form{
    margin-top: 4%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width:300px;
}
#imagen{
    border: 1px solid goldenrod;
}