*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}
body{
    background-color: black;
}
header{
    background-image: url(cesped.png);
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 0.2% 0;
   
}
header h1{
    color: white;
    font-size: 40px;
    vertical-align: center;
    text-align: center;
}
.botones{
    position: fixed;
    padding: 1% 2%;
    left:0;
    top:9.5%;

}
div.botones a{
    background-image: linear-gradient(green, yellow, green);
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px 50px;
 
}
div.botones a:hover{
    background-image: linear-gradient(grey, lightgrey, grey);
  }

.final{
    bottom: 100%;
    background-color: green;
    position: absolute;
    bottom: 0;
    width: 100%;
}
div.final a{
    color: white;
    background-image:green;
    margin:auto 20px;
}
