*{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
}
body{
    background-color: black;
}
header{
    background-image: url(cesped.png);
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 0.2% 0;
   
}
header h1{
    color: white;
    font-size: 40px;
    vertical-align: center;
    text-align: center;
}
.botones{
    position: fixed;
    padding: 1% 2%;
    left:0;
    top:9.5%;

}
div.botones a{
    background-image: linear-gradient(green, yellow, green);
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 10px 40px;
 
}
div.botones a:hover{
    background-image: linear-gradient(grey, lightgrey, grey);
  }

.final{
    bottom: 100%;
    background-color: green;
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    
}
.pfinal{
    margin-bottom: 20px;
}
span{
    color: yellow;
}
li{
    color: white;
    margin-left: 40px;
}
div.final a{
    color: white;
    background-image:green;
    margin:auto 20px;
}
#per{
    margin-top: 20px;
}
.cuerpo{
    width: 75%;
    margin-left: 15px;
    float: left;
    margin-top: 150px;
}
.fotos{
    float: left;
    width: 23%;
   margin-top: 150px;
   text-align: center;
}
div.cuerpo h2{
    color: green;
}
div.cuerpo p{
    margin-top: 20px;
    color:white;
}
div.fotos h2{
    color: rgb(255, 255, 0);
}
div.fotos img{
    margin-bottom: 20px;
}
