*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
header{
    font-family: 'Sansita Swashed', cursive;
    background-image: url(cesped.png);
    text-align: center;
    color: white;
    font-size: 180%;
    padding: 0.2% 0;
    width: 100%;
    position: fixed;
}
.boton{
    background-color: rgba(17, 243, 17, 0.775);
    float: left;
}
nav{
    margin-top: 13px;
    margin-left: 15px;
    margin-bottom: 10px;
    position: fixed;
    margin-top: 243px;
    width: 100%;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 1% 2%;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(green, yellow, green);
}
nav a:hover {
    background-image: linear-gradient(grey, lightgrey, grey)
}