*{
    margin: 0 ;
    padding: 0;
}
.bg{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-color: plum;
    background-image: url(twitter.png);
    background-repeat: no-repeat;
    background-position: center center;
}