*{
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}
header{
    display: flex;
    background: radial-gradient(circle, rgb(239, 243, 0) 0%, rgb(255, 170, 13) 91%);
    height: 100px;
    padding: 1% 2%;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: rgb(255, 251, 139);
}
h1{
    
    text-align: center;
    color: white;
    font-size: 8em;
    text-shadow: 6px 10px 5px black;
   
}
main{
   
    width: 100%;
}

.header_button{
    display:flex;
    flex-direction: column;
    justify-content: space-between ;
  
}

.button_principal{
    padding:5px;
    border-radius: 5px;
    background-color:rgb(255, 102, 0);
    margin-top: 10px;
    color:white;
    width: 150%;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 10%;

}

#avatar{
    border-radius: 10%;
    width: 50%;
}

#cerrar{
    padding:3px;
    border-radius: 5px;
    background-color:rgb(255, 102, 0);
    color:white; 
    margin-top: 7px;
}
input{
    background-image: url(../images/descarga.png);
    background-repeat: no-repeat;
    background-size: 1.2%;
    width: 85%;
    padding:3px;
    padding-left:2%;
    border-radius:5px;
    border: 1px  gray solid;
    background-position-y: center;
    background-position-x: 0.5%;
    
}

#button_nav{
    padding:3px;
    border-radius: 5px;
    width: 5%; 
    background-color:rgb(255, 102, 0);
    color:white;
}

nav{
    margin-top:1%;
    margin-left:3%;
}

img{
    width: 30%;
}

#contenido{
    width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#usuario{
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
}

#medallas{
    display: flex;
    flex-direction: row;
    
}

.med_grupo{
    height: 60%;
    align-items: center;
}
#info_user{
    text-align: center;
    padding-top: 20px;
    height: 100%;
    width: 33%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 20px;
}

#estadisticas{
    padding-top: 2%;
    text-align: center;
    height: 100%;
    width: 63%;
    margin-left: 3%;
}

#resumen{
    display:grid;
    padding-top:25px;
}

.nombre_user{
    font-size: 1.5em;
    font-weight: bold;
}

.registrado{
    font-size: 1.1em;
}

.titulo{
    
    font-size: 1.1em;
    text-align: center;
}
.tam_med{
    width: 90%;
}
.naranja{
    color:white;
    width: 98%;
    margin-left: 1%;
    background-color: orange;
    border-radius: 5px;
}
.varias{
    display:flex;
}
#reputacion{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.varias_nr{
    margin:15px;
    margin-left: 5px;
}

.bronce{
    background-color: rgb(66, 62, 62);
    color:white;
    padding:5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top:10px;
    width: fit-content;
    display: flex;
}


.med_row{
    
    height: 100%;
   padding-right:93px;
   padding-left:93px;
   padding-top: 10px;
   padding-bottom: 10px;
    border: 1px solid black;
    margin-right:20px;
    border-radius: 5px;
    margin-top: 30px;
}

.rosa{
background-color: rgb(238, 203, 209);
}

.azul{
background-color: rgb(156, 156, 179);
}

.amarillo{
background-color: rgb(252, 252, 104);
}

#preguntas{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#respuestas{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.numero{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.circulo {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 4px;
}

