*{
    margin:0;
    padding: 0;
}

body{
    background: mediumslateblue;
}
html {
    height: 100%;
}
.box{
    background-color: mediumturquoise;
    width: 30%;
    text-align: center;
    float: left;
    margin: 20px;
    border: 2px solid turquoise;
    border-radius: 5px;
}
img {
    width: 40px;
    height:40 px;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.box p {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
}
div.box h3 {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}